/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'; /* Setting default font */
}

/* Basic styling for the main resume container */
.resume-container {
    display: flex; /* Using flexbox for layout */
    justify-content: space-between; /* Space between items */
    max-width: 1000px; /* Limiting width */
    margin: 0 auto; /* Centering horizontally */
}

/* Left column styling */
.left-column {
    width: 30%; /* Setting width */
    padding: 20px; /* Adding padding */
    background-color: #01377d; /* Background color */
    color: white; /* Text color */
}

/* Right column styling */
.right-column {
    width: 70%; /* Setting width */
    padding: 20px; /* Adding padding */
}

/* Styling for name and position in the right column */
.right-column .name-position h1 {
    margin-bottom: -10px; /* Adjusting margin */
    color: black; /* Text color */
    font-size: 50px; /* Font size */
}

/* Styling for name and position in the right column */
.right-column .name-position p {
    color: black; /* Text color */
    position: relative; /* Relative positioning */
}

/* Styling for the line after the name and position */
.right-column .name-position p::after {
    content: ''; /* Empty content */
    display: block; /* Block element */
    width: 70px; /* Line width */
    height: 2px; /* Line height */
    background-color: black; /* Line color */
    position: absolute; /* Absolute positioning */
    bottom: -5px; /* Positioning */
    left: 0; /* Positioning */
}

/* Styling for profile picture */
.profile-picture {
    text-align: center; /* Centering */
}

.profile-picture img {
    width: 80px; /* Image width */
    height: auto; /* Auto height */
    border: 3px solid #4169e1; /* Border */
    border-radius: 10px; /* Border radius */
    margin-bottom: 20px; /* Margin */
}

/* Styling for section titles */
.contact-info h2,
.personal-info h2,
.eligibility h2,
.references h2,
.name-position h1,
.name-position p,
.description h2,
.education h2,
.seminars-trainings h2,
.skills h2 {
    color: white; /* Text color */
    margin-bottom: 7px; /* Margin */
}

/* Styling for lists in various sections */
.contact-info ul,
.personal-info,
.eligibility,
.references,
.name-position,
.description,
.education ul,
.seminars-trainings,
.skills ul {
    list-style: none; /* Removing default list styles */
    padding: 8px; /* Padding */
}

/* Styling for list items and paragraphs in various sections */
.contact-info ul li,
.personal-info p,
.eligibility p,
.references p,
.name-position p,
.description p,
.education ul li,
.seminars-trainings .seminar,
.skills ul li {
    margin-bottom: 5px; /* Margin */
}

/* Styling for skills list items */
.skills ul li {
    display: inline-block; /* Display inline */
    margin-right: 10px; /* Margin */
}

/* Styling for thick lines separating sections */
.left-column .title-line {
    border-top: 3px solid white; /* Line color */
    margin-bottom: 5px; /* Add margin after the thick line */
}

.right-column .title-line {
    border-top: 3px solid #01377d; /* Line color */
    margin-bottom: 5px; /* Add margin after the thick line */
}

/* Additional styles for timeline layout */
.timeline {
    list-style: none; /* Removing default list styles */
    padding: 0; /* Padding */
}

.timeline li {
    position: relative; /* Relative positioning */
    display: flex; /* Flexbox */
    align-items: flex-start; /* Align items */
}

.timeline-dot {
    position: absolute; /* Absolute positioning */
    width: 10px; /* Dot width */
    height: 10px; /* Dot height */
    background-color: #01377d; /* Dot color */
    border-radius: 50%; /* Circular shape */
    left: 10px; /* Position */
    top: 50%; /* Position */
    transform: translateY(-50%); /* Centering */
}

.timeline-dot:nth-child(1) {
    top: 30%; /* Adjusting position */
}

.timeline-dot:nth-child(2) {
    top: 50%; /* Adjusting position */
}

.timeline-dot:nth-child(3) {
    top: 80%; /* Adjusting position */
}

.timeline-line {
    position: absolute; /* Absolute positioning */
    width: 2px; /* Line width */
    background-color: #01377d; /* Line color */
    left: 10px; /* Position */
    top: 21px; /* Position */
    bottom: -80px; /* Position */
    margin-left: 4px; /* Margin */
    z-index: -1; /* Behind dots */
}

.timeline-details {
    margin-left: 30px; /* Margin */
}

.seminars-trainings .seminar {
    margin-bottom: 10px; /* Margin */
}

.seminars-trainings .seminar h3 {
    color: black; /* Text color */
    margin-bottom: 5px; /* Margin */
}

.seminars-trainings .seminar p {
    margin-bottom: 0; /* Margin */
}

/* Styling for skills section */
.skills h3 {
    color: #000000; /* Text color */
    margin-top: 0; /* Margin */
}

.skills p {
    color: #000000; /* Text color */
    margin-bottom: 0; /* Margin */
}

.skills ul {
    margin-left: 20px; /* Indenting */
    color: #000000; /* Text color */
}

.skills ul li {
    margin-bottom: 0; /* Margin */
}

.icon {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    z-index: 9999; /* Ensure it's above other content */
}
